body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container{
    position: relative;
    /* height: 100vh; */
}

.menu{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #EE82EE;
    color: white;
    overflow-x:hidden ;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1;
}

.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu ul li{
    padding: 15px;
    text-align: center;
}

.menu ul li a{
    color: white;
    text-decoration: none ;
    display: block;
}

.menu ul li a:hover{
    background-color: #FFB6C1;
}

.open-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size:20px ;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.content {
    margin-left: 0;
    transition: margin-left 0.3s;
    padding: 16px;
}

.menu-open .menu {
    left: 0;
}

.menu-open .content {
    margin-left: 250px;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slider{
    position: relative;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img{
    width: 100%;
    display: block;
}

.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    z-index: 100;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li{
    margin: 10px 0;
}

.imagem{
    width: 150%;
    height: auto;
}
.icone{
    width: 32px;
    height: 32px;
    position: absolute; 
    flex-direction: column;
    display: flex;
    align-items: center;
}